:root {

    /* ===== TYPOGRAPHY ===== */

    /* Font Sizes */
    --fs-xs: 12px; /* Small text / Link text */
    --fs-sm: 12px; /* Small text */
    --fs-s: 16px; /* Body / Body Medium / Button Text */
    --fs-m: 20px; /* Header 3 */
    --fs-m-l: 24px; /*Extra text size*/
    --fs-l: 36px; /* Header 2 */
    --fs-xl: 56px; /* Header 1 */

    /* Line Heights */
    --lh-xs: 14px; /* Small text */
    --lh-s: 16px; /* Link text */
    --lh-m: 24px; /* Body / Body Medium / Button Text / Header 3 */
    --lh-l: 36px; /* Header 2 (assumed 1:1, you can adjust) */
    --lh-xl: 60px; /* Header 1 */

    /* Body */
    --body-font: 400 'Roboto', 'Raleway', sans-serif;
    --body-ls: 0.02em;

    /* Small text */
    --small-font: 400 'Roboto', sans-serif;
    --small-ls: 0.04em;

    /* Body Medium */
    --body-medium-font: 500 'Roboto', sans-serif;

    /* Button Text */
    --btn-font: 500 'Roboto', sans-serif;
    --btn-ls: 0.04em;

    /* Link Text */
    --link-font: 400 'Roboto', sans-serif;
    --link-ls: 0.04em;

    /* Headers */
    --h1-font: 700 'Roboto', sans-serif;
    --h1-ls: 0.02em;

    --h2-font: 700 'Roboto', sans-serif;
    --h2-ls: 0.02em;

    --h3-font: 500 'Roboto', sans-serif;
    --h3-ls: 0.02em;

    /* Logo */
    --logo-font: 700 'Raleway', sans-serif;


    /* ===== COLORS ===== */

    --iris: #4D5AE5; /* Primary brand / links / active */
    --ocean: #404BBF; /* Pressed / hover */

    --navy: #2E2F42; /* Headings / dark / shadows */
    --navy-blue: #2E2F42; /* Modal overlay */

    --grey: #2E2F42; /* Hero background */

    --slate: #434455; /* Body text */
    --light-slate: #8E8F99; /* Helper text */

    --green: #31D0AA; /* Success */

    --cornflower: #E7E9FC; /* Hairlines / accents */
    --cloud: #F4F4FD; /* Light backgrounds */

    --white: #FFFFFF; /* Cards / header */
    --dairy: #FCFCFC; /* Modal bg */


    /* ===== STATES ===== */

    --hover-color: var(--ocean);
    --active-color: var(--ocean);

    --transition: 250ms ease-in-out;
    --max-width: 1440px;
}

* {
    /*box-sizing: border-box;*/
    display: block;
}

body {
    font: var(--body-font);
    font-size: var(--fs-s);
    line-height: calc(var(--lh-m) / var(--fs-s));
    letter-spacing: var(--body-ls);
    color: var(--slate);
    background: var(--white);
}

ul,
ol, a {
    list-style: none;
    text-decoration: none;
}

/* Headers */
h1 {
    font: var(--h1-font);
    font-size: var(--fs-xl);
    line-height: calc(var(--lh-xl) / var(--fs-xl));
    letter-spacing: var(--h1-ls);
    color: var(--white);
    text-align: center;
}

h2 {
    font: var(--h2-font);
    font-weight: 500;                           /*redundant*/
    font-size: var(--fs-l);
    line-height: calc(var(--lh-m) / var(--fs-m));
    letter-spacing: var(--h2-ls);
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
}

h3 {
    font: var(--h3-font);
    font-size: var(--fs-m);
    line-height: calc(var(--lh-m) / var(--fs-m));
    letter-spacing: var(--h3-ls);
    color: var(--navy-blue);
}

.wrapper {
    max-width: var(--max-width);
}

.brand-logo {
    font-family: var(--logo-font), sans-serif;
    font-weight: 700;                       /*redundant*/
    font-size: 18px;
    line-height: calc(var(--lh-xs) / var(--fs-xs));
    letter-spacing: 0.03em;
    color: var(--iris);
    text-transform: uppercase;

    & span {
        color: var(--grey);
    }
}

.link {
    font: var(--link-font);
    font-weight: 500;                                   /*redundant*/
    font-size: var(--fs-s);
    line-height: calc(var(--lh-s) / var(--fs-xs));
    letter-spacing: var(--link-ls);
    color: var(--navy);
    transition: color var(--transition);

    &:hover {
        color: var(--hover-color);
    }

    &:active {
        color: var(--active-color);

        &::after {
            content: '';
            background: var(--active-color);
            height: 4px;
            width: 48px;
        }
    }
}

.button {
    background: var(--iris);
    color: var(--white);
    font: var(--btn-font);
    font-size: var(--fs-s);
    font-weight: 500;                               /*redundant*/
    line-height: calc(var(--lh-m) / var(--fs-s));
    letter-spacing: var(--btn-ls);
    cursor: pointer;

    &:hover, &:focus {
        background: var(--hover-color);
    }
}

.header {
    border: 1px solid var(--cornflower);

    .nav-menu {
        color: var(--navy-blue);
    }

}

.hero {
    background: var(--navy-blue);
    width: 100vw;
    min-height: 600px;
}

.feature {
    .feature-text {
        font: var(--small-font);
        font-size: var(--fs-xs);
        line-height: calc(var(--lh-s) / var(--fs-m-l));
    }
}

.team {
    background: var(--cloud);

    .team-grid{
        .team-card {
            background-color: var(--white);
            width: 264px;

            .team-position {
                line-height: calc(var(--lh-s) / var(--fs-m-l));
            }
        }
    }
}

.portfolio {
    .portfolio-list {
        .portfolio-item {
            .portfolio-content {
                width: 360px;
                border: 1px solid var(--cornflower);
            }
        }
    }

}

.footer {
    background: var(--navy-blue);

    .footer-description {
        color: var(--cloud);
        line-height: calc(var(--lh-s) / var(--fs-m-l));
    }

}